.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-item{
    width: 250px;
    height: 50px;
    margin: 2em;
    color: yellow;
    background-color: blue;
    border: none;
    border-radius: 4%;
}

.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #244883;
    border-radius: 15px;
    box-sizing: border-box;
    color: #244883;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 2em;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 25%;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #244883;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

img{
    height: 200px;
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: #244883;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

.search-bar{
    background-color: #ffffff;
    width: 100%;
    max-width: 700px;
    display: flex;
    padding: 2px;
    border-radius: 4px;
    position: relative;
    text-transform: uppercase;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);

}

.select{
    background-color: #244883;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 500px;
    padding: 25px 30px;
    margin-right: 3px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

.select ul{
    position: absolute;
    z-index: 10;
    top: 120%;
    left: 0;
    list-style: none;
    background-color: white;
    color: #555;
    width: 100%;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.select ul li{
    padding: 10px 20px;
    cursor: pointer;
}

.select ul li:hover{
background-color: #244883;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

#messageBox{
    display: none;
    color: white;
    margin-top: 5px;
}

h1  {
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.search-bar input{
    padding: 10px 25px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

.select ul.open{
    max-height: 300px;
}

.search-bar button{
    background-color: #244883;
    border: none;
    color: white;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    text-transform: uppercase;

}

.options-button {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; /* Зробіть фон прозорим */
    opacity: 0; /* Початкова прозорість */
    pointer-events: none;
    z-index: 2; /* Змініть z-index, щоб overlay був над кнопкою */
}

/*search box*/

.wrapper{
    display: none;
    width: 700px;
    margin: 25px auto;
    opacity: 1;
}
.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}
.search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.search-input.active input{
    border-radius: 5px 5px 0 0;
}
.search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}
.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}
.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background: #244883;
    color: white;
}
.search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #244883;
    cursor: pointer;
}

.wrapper.disactive{
    opacity: 0.6;
    pointer-events: none;
}

#card {
    display: none;
    background-color: #244883;
    width: 700px;
    height: auto;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 2px solid white;
}

#card p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

ul.card-list {
    list-style: none;
    padding: 0;
}

ul.card-list li {
    border: 2px solid #ccc; /* Тут можна змінити колір бордеру */
    margin: 5px; /* Проміжок між тегами li */
    padding: 10px; /* Відступ всередині тегу li */
    color: white;
    border-radius: 4px;
    display: inline-block;

}